<h1 class="mt-5">Agregar porducto</h1>
<hr />

<form [formGroup]="myForm">
  <div class="row align-items-center mb-3">
    <div class="col-auto">
      <label class="col-form-label">Nombre:</label>
    </div>
    <div class="col-auto">
      <input class="form-control" formControlName="name" />
    </div>
    <div class="col-auto">
      <span error-msg
            [message]="text1"
            [color]="color"
            [isValid]="!isValid('name')"
      ></span>
    </div>
  </div>

<div class="row mt-3">
  <div class="col">
    <button class="btn btn-primary" (click)="cambiarNombre()">
      Cambiar Texto
    </button>
    <button class="btn btn-primary ms-3" (click)="cambiarColor()">
      Cambiar color
    </button>
  </div>
</div>

</form>

<h3 class="mt-5" error-msg color="green">Formulario</h3>
<pre>Value: {{ myForm.value | json }}</pre>
<pre>Value: {{ myForm.valid }}</pre>

<div class="row mt-5" *customIf="myForm.valid">
  <div class="col">
    <div class="alert alert-primary">
      Todo OK!
    </div>
  </div>
</div>
